.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: flex-start;
}

.footer-brand {
  width: 264px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-web {
  color: #4d5ae5;
}

.footer-logo .logo-studio {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-socials {
  margin-left: 120px;
}

.footer-socials-title {
  margin-bottom: 16px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: #ffffff;
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: currentColor;
}

.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe-title {
  margin: 0 0 16px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: transparent;
  color: #ffffff;
  background-color: transparent;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.footer-subscribe-input:hover,
.footer-subscribe-input:focus {
  border-color: #31d0aa;
}

.footer-subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  gap: 16px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #31d0aa;
}

.footer-subscribe-icon {
  fill: currentColor;
}
