.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  box-shadow:
    0 2px 1px rgb(46 47 66 / 8%),
    0 1px 1px rgb(46 47 66 / 16%),
    0 1px 6px rgb(46 47 66 / 8%);
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus,
.navigation-link.current {
  color: #404bbf;
}

.navigation-link.current {
  position: relative;
}

.navigation-link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  content: "";
}

.contacts {
  margin-left: auto;
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
